---
layout: home
---
        <section class="hero">
            <div class="container-fluid no-gutter">
                <div class="row">
                    <div class="col-md-4 title">
                        <img class="hero-title wow fadeInDown" src="images/logo.svg" alt="CPSalsa">
                        <h1 class="wow fadeInDown" data-wow-delay="0.1s">Cal Poly Students passionate about dance</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.1s">
                            Student-run from Cal Poly San Luis Obispo, we teach lessons in Salsa, Bachata, and Cha Cha Cha and host numerous dance events throughout the year.
                        </p>
                    </div>
                    <div class="col-md-4 fridays">
                        <h2 class="wow fadeInDown" data-wow-delay="0.1s"><a href="#fridays">Fridays</a></h2>
                        <p class="wow fadeInDown" data-wow-delay="0.1s">We teach lessons and dance every Friday</p>
                    </div>
                    <div class="col-md-4 events">
                        <h2 class="wow fadeInDown" data-wow-delay="0.2s"><a href="#events">Events</a></h2>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Socials, Workshops, Masquerades, etc.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 about">
                        <h2 class="wow fadeInDown" data-wow-delay="0.3s"><a href="#about">About</a></h2>
                        <p class="wow fadeInDown" data-wow-delay="0.3s">Student-run, but with community involvement</p>
                    </div>
                    <div class="col-md-4 posts">
                        <h2 class="wow fadeInDown" data-wow-delay="0.4s"><a href="#posts">Articles</a></h2>
                        <p class="wow fadeInDown" data-wow-delay="0.4s">A little of our history to peruse</p>
                    </div>
                    <div class="col-md-4 contact">
                        <p class="wow fadeInDown" data-wow-delay="0.5s">
                            <a href="https://www.facebook.com/cpsalsa"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/cpsalsa/"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#contact"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-email-1">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="fridays" id="fridays">
            <div class="container-fluid no-gutter">
                <div class="row is-flex">
                    <div class="col-md-offset-1 col-md-6 wow fadeInDown">
                        <div class="content friday-text">
                            <h1 class="wow fadeInLeftBig">Friday Night Lessons and Social</h1>
                            <p class="wow fadeInLeftBig">Every Friday, save for during school breaks, we provide multiple levels of
                            lessons teaching salsa. We also provide lessons teaching other related forms
                            of dancing like bachata and cha cha cha. Afterwards, we turn down the lights
                            and pump up the music and dance the rest of the night away.</p>
                            <h2 class="wow fadeInRightBig" data-wow-delay="0.2s">Where</h2>
                            <p class="wow fadeInRightBig" data-wow-delay="0.2s">Architecture and Environmental Design, Cal Poly, San Luis Obispo, CA 93405</p>
                            <div class="row wow fadeInRightBig" data-wow-delay="0.2s">
                                <div class="col-sm-6 no-gutter">
                                    <h4>Park Here (free after 5pm)</h4>
                                    <p>
                                        <a href="https://goo.gl/maps/NkFYPzmJkB72">Lot C7</a><br>
                                        <a href="https://goo.gl/maps/b4Mq5jnoygP2">Lot H2</a>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Walk Here</h4>
                                    <p><a href="https://goo.gl/maps/KavK5JfJj8o">Building 5</a></p>
                                </div>
                            </div>
                            <h2 class="wow fadeInLeftBig" data-wow-delay="0.3s">Schedule</h2>
                            <p class="wow fadeInLeftBig" data-wow-delay="0.3s">
                                <strong>7:30 PM - 8:00 PM</strong> : Bachata/Cha Cha Cha lesson<br>
                                <strong>8:00 PM - 9:30 PM</strong> : Salsa lesson<br>
                                <strong>9:30 PM - 12:00 AM</strong> : FREE Social Dancing
                            </p>
                            <h2 class="wow fadeInRightBig" data-wow-delay="0.4s">Cost</h2>
                            <p class="wow fadeInRightBig" data-wow-delay="0.4s">
                                $35 for 10 Lessons (Get 3 lessons for FREE)<br>
                                $20 for 5 Lessons (Get 1 lesson for FREE)<br>
                                $5 for the night
                            </p>
                        </div>
                    </div>
                </div>
                <div class="power-image wow fadeInRightBig" data-wow-delay="1s">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/chelsea-jose.png" alt="Chelsea dancing with Jose">
                </div>
            </div>
        </section>

        {% if site.data.events %}
        {% assign events = site.data.events | sort: 'when' %}
        <section class="events" id="events">
            <div class="container-fluid">
                <h1>Upcoming Events</h1>
                {% for event in events %}
                {% capture modulo %}{{ forloop.index0 | modulo: 2 }}{% endcapture %}
                {% if modulo == '0' %}
                <div class="row sm-flex fb-events">
                {% endif %}
                    <div class="col-sm-6">
                        <div class="card wow fadeInDown" data-wow-delay="{{ modulo | times: 0.2 }}">
                            <a href="https://www.facebook.com/events/{{ event.id }}">
                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ event.image.url }}" alt="{{ event.image.alt }}">
                            </a>
                            <div class="details">
                                <h3 class="title">{{ event.title }}</h3>
                                <span class="when">{{ event.when | date: "%B %-d, %I:%M%p" }}</span>
                                <span class="where">{{ event.where.name }}</span>
                            </div>
                        </div>
                    </div>
                {% if modulo == '1' or forloop.last == true %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endif %}

        <section class="about" id="about">
            <div class="container-fluid">
                <h1>Who We Are</h1>
                <p class="about-text">
                    We are a student organization associated with California Polytechnic State
                    University (Cal Poly) in San Luis Obispo dedicated to spreading our love of Salsa
                    dancing to San Luis Obispo and the rest of the Central Coast. While we are
                    associated with Cal Poly, our members and officers consist of non-students and
                    students alike.
                </p>
                <p class="about-text">
                    Our main goal is to share our passion for salsa dancing and music to people of all
                    backgrounds and ages. We provide high quality social activities, instruction, and
                    entertainment, all while striving to maintain an environment that is safe and
                    welcoming.</p>
                <h1>Our Team</h1>
                {% for member in site.data.members %}
                {% capture modulo %}{{ forloop.index0 | modulo: 4 }}{% endcapture %}
                {% if modulo == '0' %}
                <div class="row is-flex">
                {% endif %}
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="card wow {% if modulo == '0' or modulo == '1' %} fadeInLeft {% else %} fadeInRight {% endif %}"">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ member.image.url }}" alt="{{ member.image.alt }}">
                            <div class="details">
                                <h3>{{ member.name }}</h3>
                                <h4>{{ member.position }}</h4>
                                {% if member.description %}
                                <p>{{ member.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% if modulo == '3' or forloop.last == true %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>

        <section class="posts posts-main" id="posts">
            <div class="container-fluid no-gutter">
                <div class="row sm-flex">
                    {% for post in site.posts | limit: 4 %}
                    <div class="col-sm-3 post-wrapper no-gutter">
                    {% include post-brief.html post=post showanim='true' index=forloop.index %}
                    </div>
                    {% endfor %}
                </div>
                <div class="row all-posts-block">
                    <div class="col-md-12 no-gutter">
                        <a href="/posts">View all posts</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact wow fadeInDown" id="contact">
            <div class="container-fluid no-gutter">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Us</h1>
                        <a href="https://m.me/cpsalsa"
                           class="btn messenger-contact azm-social azm-btn azm-border-bottom azm-facebook">
                            <i class="fa fa-facebook"></i>
                            Message Us on Facebook
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <h1 class="footer-heading">Subscribe to our Mailing List</h1>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//facebook.us9.list-manage.com/subscribe/post?u=f34e80aad6faec053b07a407a&amp;id=712f72335c"
                                  method="post" id="mc-embedded-subscribe-form"
                                  name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" id="mce-EMAIL" name="EMAIL" class="form-control"
                                               placeholder="Email Address" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="mce-FNAME" name="FNAME" class="form-control"
                                               placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="mce-LNAME" name="LNAME" class="form-control"
                                               placeholder="Last Name">
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_f34e80aad6faec053b07a407a_712f72335c"
                                               tabindex="-1" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="mc-embedded-subscribe"
                                               value="Subscribe" name="subscribe"
                                               class="btn btn-primary">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>
                            (function($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0]='EMAIL';
                                ftypes[0]='email';
                                fnames[1]='FNAME';
                                ftypes[1]='text';
                                fnames[2]='LNAME';
                                ftypes[2]='text';
                            }(jQuery));

                            var $mcj = jQuery.noConflict(true);
                        </script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </section>

