---
layout: home
---
        <section class="hero">
            <div class="container-fluid no-gutter">
                <div class="row">
                    <div class="col-md-4 title">
                        <img class="hero-title wow fadeInDown" src="images/logo.svg" alt="CPSalsa">
                        <h1 class="wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s">Cal Poly Students passionate about dance</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s">
                            Student-run from Cal Poly San Luis Obispo, we teach lessons in Salsa, Bachata, and Cha Cha Cha and host numerous dance events throughout the year.
                        </p>
                    </div>
                    <div class="col-md-4 fridays">
                        <h2 class="wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s"><a href="#fridays">Fridays</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s">We teach lessons and dance every Friday</p>
                    </div>
                    <div class="col-md-4 events">
                        <h2 class="wow fadeInDown" data-wow-delay="0.2s" data-wow-duration="0.5s"><a href="#events">Events</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.2s" data-wow-duration="0.5s">Socials, Workshops, and more</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 about">
                        <h2 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration="0.5s"><a href="#about">About</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.3s" data-wow-duration="0.5s">A student group that loves to dance</p>
                    </div>
                    <div class="col-md-4 posts">
                        <h2 class="wow fadeInDown" data-wow-delay="0.4s" data-wow-duration="0.5s"><a href="#posts">Articles</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.4s" data-wow-duration="0.5s">Peruse our thoughts and history</p>
                    </div>
                    <div class="col-md-4 contact">
                        <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration="0.5s">
                            <a href="https://www.facebook.com/cpsalsa"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/cpsalsa/"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com/cpsalsa?lang=en"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#contact"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-email-1">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="fridays" id="fridays">
            {% assign friday = site.data.friday %}
            <div class="container-fluid no-gutter">
                <div class="row is-flex">
                    <div class="col-md-8 wow fadeInDown">
                        <div class="content friday-text">
                            <h1 class="wow fadeInLeftBig" data-wow-duration="0.5s">Friday Nights</h1>
                            <p class="wow fadeInLeftBig" data-wow-duration="0.5s">
                                Every Friday, save for school breaks, we provide multiple levels of
                                lessons teaching salsa and bachata. Whatever your skill level, we've got you
                                covered. Afterwards, we lower the overhead lights, turn up the club lighting,
                                and start playing a variety of salsa, bachata, and cha cha cha as we dance the
                                rest of the night away. Finally, when we're all tired from the dancing, we make
                                our way towards Chilie Peppers and SLODoCo to hang out some more!
                            </p>
                            <h2 class="wow fadeInRightBig" data-wow-duration="0.5s">This Week</h2>
                            <h4>
                                <a href="https://www.facebook.com/events/{{ friday.facebookId }}">{{ friday.title }}</a>
                            </h4>
                            <p><em>{{ friday.details }}</em></p>
                            </p>
                            <h2 class="wow fadeInRightBig" data-wow-duration="0.5s">Where</h2>
                            <p class="wow fadeInRightBig" data-wow-duration="0.5s">Cal Poly Building 5, Rooms 225, 226, 100, & 104</p>
                            <div class="embed wow fadeInRightBig" data-wow-duration="0.2s">
                                <iframe class="map-frame" src="https://www.google.com/maps/d/u/0/embed?mid=1BdSrnhQuUgBTRHaDtk3-jv-TRqI" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="wow fadeInLeftBig" data-wow-duration="0.5s">Schedule</h2>
                                    <p class="wow fadeInLeftBig" data-wow-duration="0.5s">
                                        <strong>7:30 PM - 8:00 PM</strong> : Bachata/Cha Cha Cha lesson<br>
                                        <strong>8:00 PM - 9:30 PM</strong> : Salsa lesson<br>
                                        <strong>9:30 PM - 12:00 AM</strong> : FREE Social Dancing
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <h2 class="wow fadeInRightBig" data-wow-duration="0.5s">Cost</h2>
                                    <p class="wow fadeInRightBig" data-wow-duration="0.5s">
                                        $35 for 10 Lessons (Get 3 lessons for FREE)<br>
                                        $20 for 5 Lessons (Get 1 lesson for FREE)<br>
                                        $5 for the night
                                    </p>
                                </div>
                            </div>
                            <h2 class="wow fadeInLeftBig" data-wow-duration="0.5s">Instructors</h2>
                            <p class="wow fadeInLeftBig" data-wow-duration="0.5s">
                                <strong>Bachata 101</strong> - On break<br>
                                <strong>Beyond the basics</strong> - On break<br>
                                <strong>Salsa 001</strong> - On break<br>
                                <strong>Salsa 101 & 201 combined</strong> - On break<br>
                                <strong>Salsa 301</strong> - On break
                            </p>
                        </div>
                    </div>
                </div>
                <div class="power-image wow fadeInRightBig" data-wow-delay="0.2s" data-wow-duration="0.5s">
                    <picture>
                        <source srcset="images/chelsea-jose-big.webp" type="image/webp">
                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/chelsea-jose-big.png" alt="Chelsea dancing with Jose">
                    </picture>
                </div>
            </div>
        </section>

        {% if site.data.events %}
        {% assign events = site.data.events | sort: 'when' %}
        <section class="events" id="events">
            <div class="container-fluid">
                <h1>Upcoming Events</h1>
                {% for event in events %}
                {% capture modulo %}{{ forloop.index0 | modulo: 2 }}{% endcapture %}
                {% if modulo == '0' %}
                <div class="row is-flex fb-events">
                {% endif %}
                    <div class="col-md-6 col-sm-12">
                        <div class="card wow fadeInDown" data-wow-delay="{{ modulo | times: 0.2 }}">
                            <div class="event-image">
                                <a href="https://www.facebook.com/events/{{ event.id }}">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ event.image.url }}" alt="{{ event.image.alt }}">
                                </a>
                            </div>
                            <div class="details">
                                <h3 class="title">{{ event.title }}</h3>
                                <span class="when">{{ event.when | date: "%B %-d, %I:%M%p" }}</span>
                                <span class="where">{{ event.where.name }}</span>
                                {% if event.where.embed != null %}
                                <div class="embed">
                                    <iframe class="map-frame" src="{{ event.where.embed }}" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                                {% endif %}
                                <p>{{ event.details | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                {% if modulo == '1' or forloop.last == true %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        {% endif %}

        <section class="about" id="about">
            <div class="container-fluid">
                <h1>Who We Are</h1>
                <p class="about-text">
                    We are a student organization associated with California Polytechnic State
                    University (Cal Poly) in San Luis Obispo dedicated to spreading our love of Salsa
                    dancing to San Luis Obispo and the rest of the Central Coast. While we are
                    associated with Cal Poly, our members and officers consist of non-students and
                    students alike.
                </p>
                <p class="about-text">
                    Our main goal is to share our passion for salsa dancing and music to people of all
                    backgrounds and ages. We provide high quality social activities, instruction, and
                    entertainment, all while striving to maintain an environment that is safe and
                    welcoming.
                </p>
                <p>
                    Wish to join? You'll get some free swag and free lessons if you do!<br>
                    <a class="volunteer-btn" href="http://goo.gl/dXkxhL">Volunteer</a>
                </p>
                <h1>Our Team</h1>
                <div class="row is-flex">
                {% for member in site.data.members %}
                {% capture modulo %}{{ forloop.index0 | modulo: 4 }}{% endcapture %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card wow {% if modulo == '0' or modulo == '1' %} fadeInLeft {% else %} fadeInRight {% endif %}"  data-wow-duration="0.5s">
                            <div class="card-bg" style="background-image: url({{ member.image.url }})"></div>
                            <div class="details">
                                <h3>{{ member.name }}</h3>
                                <h4>{{ member.position }}</h4>
                                {% if member.description %}
                                <p>{{ member.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

        <section class="posts posts-main" id="posts">
            <div class="container-fluid">
                <div class="row is-flex">
                    <div class="col-md-4 side-bar">
                        <h1>Articles</h1>
                        <p>Peruse our collection of writings. While small, you'll find topics from club history to musings on the music and dancing.</p>
                        <a class="view-all-btn" href="/posts">View all posts</a>
                        <div class="power-image wow fadeInLeftBig" data-wow-duration="0.5s">
                            <picture>
                                <source srcset="images/charlie.webp" type="image/webp">
                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/charlie.png" alt="Charlie spinning">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-8 post-list no-gutter">
                        {% for post in site.posts limit: 4 %}
                        {% capture modulo %}{{ forloop.index0 | modulo: 1 }}{% endcapture %}
                        {% if modulo == '0' %}
                        <div class="row">
                        {% endif %}
                            <div class="col-sm-6 post-wrapper">
                            {% include post-brief.html post=post anim='wow fadeInRight' index=forloop.index %}
                            </div>
                            {% endfor %}
                        {% if modulo == '0' or forloop.last == true %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <section class="contact wow fadeInDown" id="contact">
            <div class="container-fluid no-gutter">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Us</h1>
                        <p>The quickest way to get in contact with us. Message us with any questions you may have?</p>
                        <a href="https://m.me/cpsalsa"
                           class="btn messenger-contact azm-social azm-btn azm-border-bottom azm-facebook">
                            <i class="fa fa-facebook"></i>
                            Message us on Facebook
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <h1 class="footer-heading">Mailing List</h1>
                        <p>Stay informed on all upcoming events through a weekly newsletter.</p>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//cpsalsa.us8.list-manage.com/subscribe/post?u=a7b8c8598d40a94ebd6596186&amp;id=be48fde5fa"
                                  method="post" id="mc-embedded-subscribe-form"
                                  name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="mce-EMAIL">Email Address</label>
                                        <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Class Year</label>
                                        <div class="radio">
                                            <label for="mce-CYEAR-0">
                                                <input type="radio" value="Non-Student" name="CYEAR" id="mce-CYEAR-0">
                                                Non-Student
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="mce-CYEAR-1">
                                                <input type="radio" value="2017" name="CYEAR" id="mce-CYEAR-1">
                                                2017
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="mce-CYEAR-2">
                                                <input type="radio" value="2018" name="CYEAR" id="mce-CYEAR-2">
                                                2018
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="mce-CYEAR-3">
                                                <input type="radio" value="2019" name="CYEAR" id="mce-CYEAR-3">
                                                2019
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="mce-CYEAR-4">
                                                <input type="radio" value="2020" name="CYEAR" id="mce-CYEAR-4">
                                                2020
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="mce-CYEAR-5">
                                                <input type="radio" value="2021" name="CYEAR" id="mce-CYEAR-5">
                                                2021
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="mce-CYEAR-6">
                                                <input type="radio" value="2022" name="CYEAR" id="mce-CYEAR-6">
                                                2022
                                            </label>
                                        </div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_f34e80aad6faec053b07a407a_712f72335c"
                                               tabindex="-1" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="mc-embedded-subscribe"
                                               value="Subscribe" name="subscribe"
                                               class="btn btn-primary">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>
                            (function($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0]='EMAIL';
                                ftypes[0]='email';
                                fnames[1]='FNAME';
                                ftypes[1]='text';
                                fnames[2]='LNAME';
                                ftypes[2]='text';
                            }(jQuery));

                            var $mcj = jQuery.noConflict(true);
                        </script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </section>
