---
layout: home
published: true
---
        <section class="hero">
            <div class="container-fluid no-gutter">
                <div class="row">
                    <div class="col-md-4 title">
                        <img class="hero-title wow fadeInDown" src="images/logo.svg" alt="CPSalsa">
                        <h1 class="wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s">Cal Poly Students passionate about dance</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s">
                            Student-run from Cal Poly San Luis Obispo, we teach lessons in Salsa, Bachata, and Cha Cha Cha and host numerous dance events throughout the year.
                        </p>
                    </div>
                    <div class="col-md-4 fridays">
                        <h2 class="wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s"><a href="#fridays">Fridays</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.1s" data-wow-duration="0.5s">We teach lessons and dance every Friday</p>
                    </div>
                    <div class="col-md-4 events">
                        <h2 class="wow fadeInDown" data-wow-delay="0.2s" data-wow-duration="0.5s"><a href="#events">Events</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.2s" data-wow-duration="0.5s">Socials, Workshops, and more</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 about">
                        <h2 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration="0.5s"><a href="#about">About</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.3s" data-wow-duration="0.5s">A student group that loves to dance</p>
                    </div>
                    <div class="col-md-4 posts">
                        <h2 class="wow fadeInDown" data-wow-delay="0.4s" data-wow-duration="0.5s"><a href="#posts">Articles</a></h2>
                        <p class="blurb wow fadeInDown" data-wow-delay="0.4s" data-wow-duration="0.5s">Peruse our thoughts and history</p>
                    </div>
                    <div class="col-md-4 contact">
                        <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration="0.5s">
                            <a href="https://www.facebook.com/cpsalsa"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/cpsalsa/"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com/cpsalsa?lang=en"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#contact"
                               class="btn azm-social azm-size-48 azm-circle azm-long-shadow azm-email-1">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="fridays content" id="fridays">
            <section class="power-image wow fadeInRightBig" data-wow-delay="0.2s" data-wow-duration="0.5s">
                <picture>
                    <source srcset="images/chelsea-jose-big.webp" type="image/webp">
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/chelsea-jose-big.png" alt="Chelsea dancing with Jose">
                </picture>
            </section>
            <!-- Removed import of _data/friday.yml
                {% assign friday = site.data.friday %}
            -->
            <section class="container no-gutter">
                <div class="row is-flex">
                    <div class="col-md-8 wow fadeInDown">
                        <div class="friday-text">
                            <header>
                                <h1 class="wow fadeInLeftBig" data-wow-duration="0.5s">Friday Nights</h1>
                            </header>
                            <p class="wow fadeInLeftBig" data-wow-duration="0.5s">
                                Every Friday, save for school breaks, we provide multiple levels of
                                lessons teaching salsa and bachata. Whatever your skill level, we've got you
                                covered. Afterwards, we lower the overhead lights, turn up the club lighting,
                                and start playing a variety of salsa, bachata, and cha cha cha as we dance the
                                rest of the night away. Finally, when we're all tired from the dancing, we make
                                our way towards some late night eateries to hang out some more!
                            </p>
                            <h2 class="wow fadeInRightBig" data-wow-duration="0.5s">Where</h2>
                            <p class="wow fadeInRightBig" data-wow-duration="0.5s">
                                <b>Lessons:</b> Cal Poly Building 5, Rooms 225, 226, 100, & 104
                                <br />
                                <b>Social:</b> Nexus SLO Ballroom
                            </p>
                            <div class="embed wow fadeInRightBig" data-wow-duration="0.2s">
                                <iframe class="map-frame" src="https://www.google.com/maps/d/u/0/embed?mid=1snPHDzOwB4goErIS8alXFnNbrnEKB3U&ehbc=2E312F" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                            <!-- removed Dates section
                                {% include dates.html dates=friday.dates cssClass="friday-date-recur" %}
                            -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="wow fadeInRightBig" data-wow-duration="0.5s">Cost</h2>
                                    <i>* Our 5- & 10-lesson cards never expire and can be shared with friends</i>
                                </div>
                                <div class="col-md-4 fadeInRightBig" data-wow-duration="0.5s">
                                    <h3>General Pricing</h3>
                                    $70 for 10 Lessons*<br>
                                    $40 for 5 Lessons*<br>
                                    $10 for the night<br>
                                </div>
                                <div class="col-md-4 fadeInRightBig" data-wow-duration="0.5s">
                                    <h3>Student Pricing</h3>
                                    $49 for 10 Lessons*<br>
                                    $28 for 5 Lessons*<br>
                                    $7 for the night<br>
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="wow fadeInLeftBig" data-wow-duration="0.5s">Schedule</h2>
                                    <p class="wow fadeInLeftBig" data-wow-duration="0.5s">
                                        <strong>7:00 PM - 8:00 PM</strong> : Bachata Lessons<br>
                                        <strong>8:00 PM - 9:00 PM</strong> : Salsa Lessons<br>
                                        <strong>9:00 PM - 9:50 PM</strong> : Mixer & Practice at Cal Poly (bldg 5 room 225)<br>
                                        <strong>10:00 PM - 1:00 AM</strong> : Social Dancing at Nexus SLO Ballroom
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {% if site.events %}
        {% assign events = site.events | sort: 'first_date' %}
        <section class="events section" id="events">
            <div class="container">
                <div class="row is-flex">
                    <div class="col-md-8 wow fadeInDown">
                        <header>
                            <h1>Upcoming Events</h1>
                        </header>
                        <div class="embed wow fadeInRightBig" data-wow-duration="0.2s">
                            <iframe class="large" src="https://calendar.google.com/calendar/embed?src=cpsalsacalendar%40gmail.com&ctz=America%2FLos_Angeles" height="600" frameborder="0" scrolling="no"></iframe>
                            <iframe class="small" src="https://calendar.google.com/calendar/embed?src=cpsalsacalendar%40gmail.com&ctz=America%2FLos_Angeles&mode=AGENDA&showPrint=0&showDate=0" scrolling="no"></iframe>
                        </div>
                        <div class="row is-flex" id="event-layout-container">
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <section class="about" id="about">
            <section class="container">
                <header>
                    <h1>Who We Are</h1>
                </header>
                <p class="about-text">
                    We are a student organization associated with California Polytechnic State
                    University (Cal Poly) in San Luis Obispo dedicated to spreading our love of Salsa
                    dancing to Cal Poly students, San Luis Obispo, and the rest of the Central Coast.
                </p>
                <p class="about-text">
                    Our main goal is to share our passion for salsa dancing and music to people of all
                    backgrounds and ages. We provide high quality social activities, instruction, and
                    entertainment, all while striving to maintain an environment that is safe and
                    welcoming.
                </p>
                <p>
                    <b>Wish to become a member?</b>
                    <!-- a class="volunteer-btn" href="https://forms.gle/yDRj4wjKb3RVeLU48">Membership</a-->
                </p>
                <p>
                    Membership (currently enrolled Cal Poly students) and partnership (non-Cal Poly students) is open to everyone! No dance experience is required to be a member/partner. 
                    Benefits include free access to Friday/Monday lessons and dancing, access to club-exclusive events such as road trips to dance festivals and theme parks, discounts on private lessons and merchandise, 
                    and becoming a part of the CPSalsa family for volunteering at our events and helping the club grow. Come speak with a club officer at our cashiering table during Friday lessons to sign up!
                    
                </p>
            </section>
            <!--Removed "Our Team" section--> 
            <!--added spacing because the dancing lady covers the text-->
            <p><br><br></p>
        </section>

        <section class="posts posts-main" id="posts">
            <div class="container-fluid">
                <div class="row is-flex">
                    <div class="col-md-4 side-bar">
                        <h1>Articles</h1>
                        <p>Peruse our collection of writings. While small, you'll find topics from club history to musings on the music and dancing.</p>
                        <a class="view-all-btn" href="/posts">View all posts</a>
                        <div class="power-image wow fadeInLeftBig" data-wow-duration="0.5s">
                            <picture>
                                <source srcset="images/charlie.webp" type="image/webp">
                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/charlie.png" alt="Charlie spinning">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-8 post-list no-gutter">
                        {% for post in site.posts limit: 4 %}
                        {% capture modulo %}{{ forloop.index0 | modulo: 1 }}{% endcapture %}
                        {% if modulo == '0' %}
                        <div class="row">
                        {% endif %}
                            <div class="col-sm-6 post-wrapper">
                            {% include post-brief.html post=post anim='wow fadeInRight' index=forloop.index %}
                            </div>
                            {% endfor %}
                        {% if modulo == '0' or forloop.last == true %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <section class="contact wow fadeInDown" id="contact">
            <div class="container-fluid no-gutter">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Us</h1>
                        <p>The quickest way to get in contact with us. Message us with any questions you may have?</p>
                        <a href="https://m.me/cpsalsa"
                           class="btn messenger-contact azm-social azm-btn azm-border-bottom azm-facebook">
                            <i class="fa fa-facebook"></i>
                            Message us on Facebook
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <h1 class="footer-heading">Mailing List</h1>
                        <p>Stay informed on all upcoming events through a weekly newsletter.</p>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//cpsalsa.us8.list-manage.com/subscribe/post?u=a7b8c8598d40a94ebd6596186&amp;id=be48fde5fa"
                                  method="post" id="mc-embedded-subscribe-form"
                                  name="mc-embedded-subscribe-form"
                                  class="validate" target="_blank" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label" for="mce-EMAIL">Email Address</label>
                                        <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" required>
                                    </div>
                                    <!--removed Class Year radio-->
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_f34e80aad6faec053b07a407a_712f72335c"
                                               tabindex="-1" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="mc-embedded-subscribe"
                                               value="Subscribe" name="subscribe"
                                               class="btn btn-primary">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>
                            (function($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0]='EMAIL';
                                ftypes[0]='email';
                                fnames[1]='FNAME';
                                ftypes[1]='text';
                                fnames[2]='LNAME';
                                ftypes[2]='text';
                            }(jQuery));

                            var $mcj = jQuery.noConflict(true);
                        </script>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </section>
