---
layout: all-posts
---
        <section class="sidebar">
            <div class="sidebar-content">
                <a href="/">
                    <img class="logo" src="images/logo.svg" alt="CPSalsa">
                </a>
                <h1>All Posts</h1>
                <p class="sidebar-lead lead">
                    Peruse our small collection of articles detailing some of the history of
                    CPSalsa as well as some musings about a dancer's life.
                </p>
                <a class="view-all-btn" href="/"><span class="fa fa-arrow-left"></span> Back Home</a>
            </div>
        </section>

        <section class="posts">
            {% for post in site.posts %}
            {% capture modulo %}{{ forloop.index0 | modulo: 2 }}{% endcapture %}
            {% if modulo == '0' %}
            <div class="row sm-flex">
            {% endif %}
                <div class="col-sm-6 post-wrapper">
                {% include post-brief.html post=post %}
                </div>
            {% if modulo == '1' or forloop.last == true %}
            </div>
            {% endif %}
            {% endfor %}
        </section>
