<footer class="site-footer">
    <div class="row">
        <div class="col-sm-6">
            <p class="copyright"><small>All rights reserved © CPSalsa 2016</small></p>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <a href="https://www.facebook.com/cpsalsa" class="btn azm-social azm-size-32 azm-circle azm-long-shadow azm-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/cpsalsa/" class="btn azm-social azm-size-32 azm-circle azm-long-shadow azm-instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="{{ "/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/lightbox.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
    jQuery(function() {
        jQuery('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = jQuery(this.hash);
                target = target.length ? target : jQuery('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>