<div class="card">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-img">
            {% if post.image %}
            <img src="{{ post.image }}" alt="Post Featured Image">
            {% endif %}
        </div>
    </a>
    <div class="details">
        <h4 class="post-title">{{ post.title }}</h4>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y"  }}</span>
        <p class="description">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    </div>
</div>