<div class="card {{ include.anim }}">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-img">
            {% if post.image %}
            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ post.image }}" alt="Post Featured Image">
            {% endif %}
        </div>
    </a>
    <div class="details">
        <div class="post-text">
            <h4 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
            <h5 class="post-sub-title">{{ post.subtitle }}</h5>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y"  }}</span>
            <p class="description">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        </div>
    </div>
</div>