.author {
	margin: 40px 0;
	padding: 0 20px;
	text-align: center;
}
.author .card img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center;
}
.author .card .name {
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: bold;
	color: $brand-secondary;
}
.author .card .description {
	font-style: italic;
}