body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', serif;
    color: $brand-headers;
}

h1 {
    // text-transform: uppercase;

    @media (max-device-width: $screen-xs-min) {
        text-transform: none;
    }
}

h4, h5, h6 {
	color: $brand-secondary;
}

a {
    transition: color 0.1s ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

img {
	opacity: 1;
	transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}

section header h1 {
    font-size: $font-size-base * 5;
    margin: 0 0 40px 0;
}
