.no-gutter {
    padding: 0;
}
[class*='container'].no-gutter .row {
    margin-right: 0;
    margin-left: 0;
}
// [class*='container'].no-gutter .row > [class*='col-'] {
//     padding-left: 0;
//     padding-right: 0;
// }
.row.is-flex {
    @media (min-width: $screen-md-min) {
        @include display-flex;
    }
}
.row.is-flex > [class*='col-'] {
    @media (min-width: $screen-md-min) {
        @include flex-column;
    }
}
.row.sm-flex {
    @media (min-width: $screen-sm-min) {
        @include display-flex;
    }
}
.row.sm-flex > [class*='col-'] {
    @media (min-width: $screen-sm-min) {
        @include flex-column;
    }
}

.hero {
    // display: flex;
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background:
        linear-gradient(
            rgba(46, 27, 175, 0.9),
            rgba(179, 8, 151, 0.7)
        ),
        url(../images/hero-back1.jpg) no-repeat center right fixed;
    background-size: cover;

    // flex-direction: column;
    // justify-content: center;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }

    .row {
        height: 50vh;
    }
    [class*='col-'] {
        height: 50vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center !important;
        background-attachment: local;

        @media (max-device-width: $screen-xs-min) {
            display: none;
        }
    }
    .title {
        background:
            linear-gradient(
                rgba(46, 27, 175, 0.95),
                rgba(46, 27, 175, 0.9)
            ),
            url(../images/hero-back1.jpg) no-repeat center right local;

        @media (max-device-width: $screen-xs-min) {
            display: flex;
            height: 100vh;
        }
        h1, p {
            display: none;

            @media (max-device-width: $screen-xs-min) {
                display: block;
            }
        }
        h1 {
            color: $brand-primary;
        }
    }
    .about {
        background-position: center left;
        p {
            text-align: center;
        }
    }
    .posts {
        background:
            linear-gradient(
                rgba(111, 23, 136, 0.95),
                rgba(111, 23, 136, 0.9)
            ),
            url(../images/fridays-3.jpg) no-repeat center left local;
        background-size: cover;
    }
    .contact {
        background:
            linear-gradient(
                rgba(179, 8, 151, 0.95),
                rgba(179, 8, 151, 0.9)
            ),
            url(../images/fridays-4.jpg) no-repeat center left local;
        background-size: cover;
    }
    h2 {
        border-bottom: 1px solid $text-color;
        a {
            text-decoration: none;
            color: $text-color;
        }
    }
}
.hero-content {
    left: 0;
    width: 100%;
    text-align: left;

    @include default-padding;
}
.hero-title {
    // width: 45vw;
    // @media (max-device-width: $screen-xs-min) {
    //     width: 75vw;
    // }
}
.hero-slogan {
    font-style: italic;
}
.hero-content h1 {
    color: $brand-primary;
}

section:not(.hero) .fridays,
section:not(.hero) .events,
section:not(.hero) .about,
section:not(.hero) .site-footer {
    display: block;
    width: 100%;
}
.fridays {
    background:
        linear-gradient(
            rgba(65, 177, 167, 0.95),
            rgba(65, 177, 167, 0.9)
        ),
        url(../images/fridays-1.jpg) no-repeat center right fixed;
    background-size: cover;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.fridays {
    h1, h2, h3, h4 {
        color: $secondary-header-color;
    }
}
.fridays .content,
.events .content {
    height: 100%;
    @include default-padding;
}
.fridays .friday-slideshow {
    height: 100%;
    min-height: 800px;
}
.fridays ul {
    list-style: none;
}
.fridays .unslider {
    height: 100%;
    overflow: hidden;
}
.fridays .unslider img {
    position: relative;
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center;
}
.fridays .unslider-nav {
    display: none;
}

.events {
    @include default-padding;
    // background: #221e38;
    background:
        linear-gradient(
            rgba(227, 117, 33, 0.95),
            rgba(227, 117, 33, 0.9)
        ),
        url(../images/fridays-2.jpg) no-repeat center right fixed;
    background-size: cover;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.fb-events .card {
    padding: 0;
    background: $event-card-background;

    @include card;
}
.fb-events .card img {
    height: 158px;
    @media (min-width: $screen-lg-min) {
        height: 250px;
    }
    width: 100%;
    object-fit: cover;
}
.fb-events .card .details {
    padding: 10px 20px;
}
.fb-events .title {
    color: $brand-secondary;
}
.fb-events .when,
.fb-events .where {
    display: block;
}
.fb-events .where {
    color: $text-darker;
}

.about {
    // background: #302131;
    background:
        linear-gradient(
            rgba(0, 146, 255, 0.95),
            rgba(0, 146, 255, 0.9)
        ),
        url(../images/fridays-5.jpg) no-repeat center right fixed;
    background-size: cover;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }

    @include default-padding;
}
.about p {
    text-align: left;
}
.about .card {
    // background: #352635;
    background: $about-card-background;
    text-align: center;

    @include card;
}
.about .card h4 {
    color: $brand-secondary;
}
.about .card img {
    display: block;
    width: 100%;
    height: 400px;
    @media (max-device-width: $screen-sm-min) {
        height: 300px;
    }

    object-fit: cover;
    object-position: top;
}
.about .card .details {
    padding: 10px 20px;
}

.contact,
.site-footer {
    @include default-padding;
}
.contact h1 {
    color: $brand-primary;
}
.contact .messenger-contact {
    margin-left: 0;
}
.center {
    position: relative;
    margin: auto;
    float: none;
}

.site-footer {
    padding-top: 0;
}
.site-footer .row {
    padding-top: 20px;
    border-top: 1px solid #4a4a4a;
}
.site-footer .footer-title {
    width: 25vw;
    @media (max-device-width: $screen-xs-min) {
        width: 35vw;
    }
}

.azm-btn {
    text-decoration: none;
}

.separator {
    width: 100px;
    height: 3px;
    margin: 15px auto;
    background: $brand-secondary;
}