.no-gutter {
    padding: 0;
}
[class*='container'].no-gutter .row {
    margin-right: 0;
    margin-left: 0;
}
// [class*='container'].no-gutter .row > [class*='col-'] {
//     padding-left: 0;
//     padding-right: 0;
// }
.row.is-flex {
    // @media (min-width: $screen-md-min) {
        @include display-flex;
    // }
}
.row.is-flex > [class*='col-'] {
    // @media (min-width: $screen-md-min) {
        @include flex-column;
    // }
}
.row.sm-flex {
    @media (min-width: $screen-sm-min) {
        @include display-flex;
    }
}
.row.sm-flex > [class*='col-'] {
    @media (min-width: $screen-sm-min) {
        @include flex-column;
    }
}

.btn {
    transition: 0.15s ease-in-out background;
}

body > .fridays,
body > .events,
body > .about,
body > .site-footer {
    display: block;
    width: 100%;
}

.site-footer {
    padding-top: 0;
}
.site-footer .row {
    padding-top: 20px;
    border-top: 1px solid #4a4a4a;
}
.site-footer .footer-title {
    width: 25vw;
    @media (max-device-width: $screen-xs-min) {
        width: 35vw;
    }
}

.azm-btn {
    text-decoration: none;
}

.separator {
    width: 100px;
    height: 3px;
    margin: 15px auto;
    background: $brand-secondary;
}

.form-group.required .control-label:after {
    content: '*';
    color: red;
    padding-left: 5px;
}
.asterisk {
    color: red;
}
.indicates-required {
    font-style: italic;
    color: darken($text-darker, 40%);
}

/* overrides */
.row:before {
    display: block;
}

@import
    "animate",
    "buttons",
    "home/about",
    "home/contact",
    "home/events",
    "home/fridays",
    "home/hero";
