.no-gutter {
    padding: 0;
}
[class*='container'].no-gutter .row {
    margin-right: 0;
    margin-left: 0;
}
// [class*='container'].no-gutter .row > [class*='col-'] {
//     padding-left: 0;
//     padding-right: 0;
// }
.row.is-flex {
    // @media (min-width: $screen-md-min) {
        @include display-flex;
    // }
}
.row.is-flex > [class*='col-'] {
    // @media (min-width: $screen-md-min) {
        @include flex-column;
    // }
}
.row.sm-flex {
    @media (min-width: $screen-sm-min) {
        @include display-flex;
    }
}
.row.sm-flex > [class*='col-'] {
    @media (min-width: $screen-sm-min) {
        @include flex-column;
    }
}

.hero {
    width: 100%;
    min-height: 100vh;
    color: #fff;

    .row {
        height: 50vh;
    }
    [class*='col-'] {
        height: 50vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center !important;
        background-attachment: local;

        @media (max-width: $screen-md-min) {
            display: none;
        }
        h1, h2, p {
            visibility: hidden;
            z-index: 1;
        }
        .blurb {
            min-height: 44px;
        }
        @media (min-width: $screen-md-min) {
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                opacity: 0;
                transition: opacity ease-in-out 0.3s;
            }
            &:hover:before {
                opacity: 1;
            }
        }
    }
    .title {
        @include gradient-image('../images/hero-back1.jpg', right, local, 46, 27, 175, 0.95, 0.9);

        @media (max-width: $screen-md-min) {
            display: flex;
            height: 100vh;
        }
        h1, p {
            display: none;

            @media (max-width: $screen-md-min) {
                display: block;
            }
        }
        h1 {
            color: $brand-primary;
        }
    }
    .about {
        background-position: center left;
        p {
            text-align: center;
        }
    }
    .about:before {
        @include hero-card-hover('../images/fridays-5.jpg', right);
    }
    .contact {
        @include gradient-image('../images/fridays-4.jpg', left, local, 179, 8, 151, 0.95, 0.9);
    }
    .contact:before {
        @include hero-card-hover('../images/fridays-4.jpg', left);
    }
    .events:before {
        @include hero-card-hover('../images/fridays-2.jpg', right);
    }
    .fridays:before {
        @include hero-card-hover('../images/fridays-1.jpg', right);
    }
    .posts {
        @include gradient-image('../images/fridays-3.jpg', left, local, 111, 23, 136, 0.95, 0.9);
    }
    .posts:before {
        @include hero-card-hover('../images/fridays-3.jpg', left);
    }
    h2 {
        border-bottom: 1px solid $text-color;
        a {
            text-decoration: none;
            color: $text-color;
        }
        a:hover {
            color: $brand-secondary;
        }
    }
}
.hero-content {
    left: 0;
    width: 100%;
    text-align: left;

    @include default-padding;
}
.hero-title {
    visibility: hidden;
}
.hero-slogan {
    font-style: italic;
}
.hero-content h1 {
    color: $brand-primary;
}

body > .fridays,
body > .events,
body > .about,
body > .site-footer {
    display: block;
    width: 100%;
}
.fridays {
    position: relative;
    overflow: hidden;
    @include gradient-image('../images/fridays-1.jpg', right, fixed, 65, 177, 167, 0.95, 0.9);

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.fridays h4 {
    color: $secondary-header-color;
}
.fridays .power-image {
    position: absolute;
    top: 10px;
    right: 0;

    @media (max-width: $screen-md-min) {
        display: none;
    }
}
.fridays .content,
.events .content {
    height: 100%;
    @include default-padding;
}
.fridays .friday-slideshow {
    height: 100%;
    min-height: 800px;
}
.fridays ul {
    list-style: none;
}
.fridays .unslider {
    height: 100%;
    overflow: hidden;
}
.fridays .unslider img {
    position: relative;
    width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center;
}
.fridays .unslider-nav {
    display: none;
}

.events {
    @include default-padding;
    @include gradient-image('../images/fridays-2.jpg', right, fixed, 227, 117, 33, 0.95, 0.9);

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.fb-events .card {
    padding: 0;
    background: $event-card-background;

    @include card;
}
.fb-events .card img {
    height: 158px;
    @media (min-width: $screen-lg-min) {
        height: 250px;
    }
    width: 100%;
    object-fit: cover;
}
.fb-events .card .details {
    padding: 10px 20px;
}
.fb-events .when,
.fb-events .where {
    display: block;
}
.fb-events .where {
    color: $text-darker;
}

.about {
    @include gradient-image('../images/fridays-5.jpg', right, fixed, 0, 146, 255, 0.95, 0.9);

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }

    @include default-padding;
}
.about p {
    text-align: left;
}
.about .card {
    // background: #352635;
    background: $about-card-background;
    text-align: center;

    @include card;
}
.about .card h4 {
    color: $brand-secondary;
}
.about .card img {
    display: block;
    width: 100%;
    height: 400px;
    @media (max-device-width: $screen-sm-min) {
        height: 300px;
    }

    object-fit: cover;
    object-position: top;
}
.about .card .details {
    padding: 10px 20px;
}

.contact,
.site-footer {
    @include default-padding;
}
.contact h1 {
    color: $brand-primary;
}
.contact .messenger-contact {
    margin-left: 0;
}
.center {
    position: relative;
    margin: auto;
    float: none;
}

.site-footer {
    padding-top: 0;
}
.site-footer .row {
    padding-top: 20px;
    border-top: 1px solid #4a4a4a;
}
.site-footer .footer-title {
    width: 25vw;
    @media (max-device-width: $screen-xs-min) {
        width: 35vw;
    }
}

.azm-btn {
    text-decoration: none;
}

.separator {
    width: 100px;
    height: 3px;
    margin: 15px auto;
    background: $brand-secondary;
}

.form-group.required .control-label:after {
    content: '*';
    color: red;
    padding-left: 5px;
}
.asterisk {
    color: red;
}
.indicates-required {
    font-style: italic;
    color: darken($text-darker, 40%);
}