@mixin default-padding {
    padding: 40px (60 - $grid-gutter-width/2);
    @media (max-device-width: $screen-sm-min) {
    	padding: 30px (40 - $grid-gutter-width/2);
    }
    @media (max-device-width: $screen-xs-min) {
        padding: 20px (30 - $grid-gutter-width/2);
    }
}

@mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@mixin flex-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin card {
    margin: 20px 0;
    padding-bottom: 20px;
    height: 100%;
}

@mixin gradient-image($image, $justify, $attach, $r, $g, $b, $a1, $a2) {
    background:
        linear-gradient(
            rgba($r, $g, $b, $a1),
            rgba($r, $g, $b, $a2)
        ),
        url($image) no-repeat center $justify $attach;
    background-size: cover;

}

@mixin hero-card-hover($image, $justify) {
    background:
        linear-gradient(
            rgba(53, 53, 53, 0.9),
            rgba(53, 53, 53, 0.9)
        ),
        url($image) no-repeat center $justify local;
    background-size: cover;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}