.about {
    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }

    @include default-padding;
}
.no-webp .about {
    @include gradient-image('../images/fridays-5.jpg', right, fixed, $about-gradient-start, $about-gradient-end);
}
.webp .about {
    @include gradient-image('../images/fridays-5.webp', right, fixed, $about-gradient-start, $about-gradient-end);
}
.about p {
    text-align: left;
}
.about .card {
    // background: #352635;
    background: $about-card-background;
    text-align: center;

    @include card;
}
.about .card h4 {
    color: $brand-secondary;
}
.about .card img {
    display: block;
    width: 100%;
    height: 400px;
    @media (max-device-width: $screen-sm-min) {
        height: 300px;
    }

    object-fit: cover;
    object-position: top;
}
.about .card .details {
    padding: 10px 20px;
}
