.about {
    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }

    @include default-padding;
}
.no-webp .about {
    @include gradient-image('../images/fridays-5.jpg', right, fixed, $about-gradient-start, $about-gradient-end);
}
.webp .about {
    @include gradient-image('../images/fridays-5.webp', right, fixed, $about-gradient-start, $about-gradient-end);
}
.about p {
    text-align: left;
}
.about .card {
    // background: #352635;
    background: #333;
    position: relative;
    text-align: center;

    @include card;

    height: 400px;
    // box-shadow: inset #333 0 0 0 5px,
    //     inset white 0 0 0 6px,
    //     rgba(0,0,0,0.2) 0 10px 20px;

    @media (max-device-width: $screen-sm-min) {
        height: 300px;
    }
}
.about .card h4 {
    color: $brand-secondary;
}
.about .card .card-bg {
    display: block;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;

    background-position: center;
    background-size: cover;
}
.about .card .details {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    bottom: 0;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
}
