.section.events {
    @include default-padding;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }

    .content {
        height: 100%;
        @include default-padding;
    }
}
.page.events {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:
            radial-gradient(
                ellipse at top right,
                $events-page-gradient-start,
                rgba(34, 34, 34, 1) 70%
            );
    }
    .event-header {
        background:
            linear-gradient(
                170deg,
                $events-page-header-start,
                $events-page-header-end
            );
        border-bottom: 3px solid $events-gradient-start;
        display: flex;
        justify-content: center;
        min-height: 400px;
        margin-bottom: 45px;
        position: relative;
    }
    .event-header-content {
        margin-top: 60px;
        display: grid;

        &.singleton {
            align-self: center;
            grid-template-columns: 100px 1fr;
            grid-template-rows: 1fr;
            height: 120px;

            .event-title {
                align-self: start;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                margin: 0;
            }
            .event-hours {
                color: $event-header-color;
            }
            .event-where {
                grid-column-start: 2;
                grid-row-start: 2;
            }
        }
        &.recurring {
            grid-template-columns: 1fr 33%;

            @media (max-device-width: $screen-sm-max) {
                display: block;
            }

            .title-section {
                grid-column-start: 1;

                @media (max-device-width: $screen-sm-max) {
                    .event-title,
                    .event-where {
                        text-align: center;
                    }
                }

                .event-title {
                    margin-top: 0;
                }
            }
            .dates-section {
                grid-column-start: 2;

                @media (max-device-width: $screen-sm-max) {
                    margin-top: 20px;
                    text-align: center;

                    .dates-content {
                        margin: 20px auto;
                        overflow: hidden;
                        width: 50%;
                    }
                }

                .dates-title {
                    margin-top: 0;
                }
                .event-date {
                    color: $text-color;
                    grid-template-columns: 32px 1fr;
                    padding-bottom: 25px;

                    .day {
                        display: inline;
                        font-size: inherit;
                        font-weight: 700;
                        grid-column-start: 1;
                        grid-row-start: 2;
                        line-height: 100%;
                        text-align: center;
                    }
                    .month {
                        display: inline;
                        font-size: inherit;
                        grid-column-start: 1;
                        line-height: 100%;
                        text-align: center;
                    }
                    .hours {
                        align-self: start;
                        line-height: 100%;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .event-content {
        position: relative;

        > .centered {
            @media (min-device-width: $screen-sm-max) {
                display: flex;
                justify-content: center;
            }

            h1,
            h2,
            h3 {
                text-align: center;
            }
            h1 {
                margin-bottom: 45px;
            }
        }
        > .sub-section {
            margin-bottom: 45px;
        }
    }
    .event-title {
        color: $text-color;
        font-weight: bold;
        font-size: 300%;
    }
    .event-sub-title {
        font-style: italic;
        color: $text-color;
    }
    .event-date {
        display: grid;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-content: center;
    }
    .event-hours {
        color: $event-header-color;
    }
    .event-where {
        text-align: left;
    }
    a {
        color: $event-header-color;
    }
}
.no-webp .events:not(.page) {
    @include gradient-image('../images/fridays-2.jpg', right, fixed, $events-gradient-start, $events-gradient-end);
}
.webp .events:not(.page) {
    @include gradient-image('../images/fridays-2.webp', right, fixed, $events-gradient-start, $events-gradient-end);
}
.hero .events:not(.page) {
    background-attachment: local;
}
.events .title,
.events .where,
.events .when,
.events .event-date,
.events .event-where {
    color: $event-header-color;
    display: block;
    text-align: right;
}
.events h1,
.events h2,
.events h3,
.events h4,
.events h5,
.events h6 {
    color: $event-header-color;
}
.events .embed {
    border-radius: 20px;
    height: 350px;
    margin: 25px auto;
    overflow: hidden;
    transform: translateZ(0);
    width: 80%;

    @media (max-width: $screen-md-min) {
        width: 100%;
    }

    .map-frame {
        height: 100%;
        width: 100%;
    }
}
.section.events .card {
    @include card;

    background: #222;
    box-shadow: inset #222 0 0 0 5px,
        inset $event-header-color 0 0 0 6px,
        rgba(0,0,0,0.2) 0 10px 20px;
    min-height: 500px;
    position: relative;
    padding: 0;

    @media (max-device-width: $screen-sm-min) {
        height: 300px;
        min-height: 300px;
    }
}
.events .singleton {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        min-height: 600px;
        width: 70%;
    }
}
.section.events .card .card-bg {
    display: block;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    width: 100%;

    background-position: center;
    background-size: cover;
}
.section.events .card.small-event {
    height: 300px;
    min-height: 300px;
}
.section.events .card .event-image {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after {
        background: rgba(0, 0, 0, 0.5);
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.section.events .card img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.section.events .card .details {
    background: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8) 100%);
    height: 100%;
    padding: 10px 20px;
    position: absolute;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 100%;

    @media (max-width: $screen-sm-min) {
        padding: 10px 35px;
    }
}
.events .when,
.events .event-date {
    float: left;
    padding: 0;
    text-align: left;

    @media (max-width: $screen-xs-min) {
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .day {
        clear: both;
        display: block;
        font-size: 400%;
        font-weight: 700;
        line-height: 100%;
    }
    .month {
        display: block;
        font-size: 200%;
        line-height: 100%;
    }
    .time {
        text-transform: lowercase;
    }
}
.events .where,
.events .event-where {
    font-weight: 400;
    @media (max-width: $screen-sm-min) {
        text-align: center;
        width: 100%;
    }
}
.events .details .header {
    float: right;
}
.events .title {
    margin-top: 10px;

    @media (max-width: $screen-sm-min) {
        text-align: center;
        font-size: 150%;
    }
}
.events .details {
    a {
        color: $event-header-color;

        &:hover {
            text-decoration: none;
            color: #fff;

            .fa {
                margin-left: 0;
                opacity: 1;
            }
        }
    }
    .fa {
        font-weight: 300;
        margin-left: -30px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out,
            margin-left 0.2s ease-in-out;
        width: 30px;
    }
}
.events .event-text {
    bottom: 15px;
    position: absolute;
    width: 90%;

    @media (max-width: $screen-sm-min) {
        display: none;
    }

    h3{
        color: $event-header-color;
    }
}
.event-back {
    margin-top: 20px;
    text-align: center;

    a {
        display: inline-block;
        padding: 20px;
        // width: 200px;
        text-align: center;
        border: 3px solid $text-color;
        color: $text-color;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $brand-secondary;
            border-color: $brand-secondary;
        }
    }
}
