.events .content {
    height: 100%;
    @include default-padding;
}
.events {
    @include default-padding;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.no-webp .events {
    @include gradient-image('../images/fridays-2.jpg', right, fixed, $events-gradient-start, $events-gradient-end);
}
.webp .events {
    @include gradient-image('../images/fridays-2.webp', right, fixed, $events-gradient-start, $events-gradient-end);
}
.fb-events .title,
.fb-events .where {
    color: #9af9bd;
}
.fb-events .embed {
    border-radius: 20px;
    height: 350px;
    overflow: hidden;
    transform: translateZ(0);
}
.fb-events .card {
    background: $event-card-background;
    padding: 0;

    @include card;
}
.fb-events .card .event-image {
    overflow: hidden;
    position: relative;
    padding-top: 52.63%;
}
.fb-events .card img {
    // @media (min-width: $screen-lg-min) {
    //     padding-top: 52.63%;
    // }
    position: absolute;
    top: 0;
    width: 100%;
}
.fb-events .card .details {
    padding: 10px 20px;
}
.fb-events .when,
.fb-events .where {
    display: block;
}
