
.fridays {
    position: relative;
    overflow: hidden;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.no-webp .fridays {
    @include gradient-image('../images/fridays-1.jpg', right, fixed, $fridays-gradient-start, $fridays-gradient-end);
}
.webp .fridays {
    @include gradient-image('../images/fridays-1.webp', right, fixed, $fridays-gradient-start, $fridays-gradient-end);
}
.fridays h4 {
    color: $secondary-header-color;
}
.fridays a:hover {
    color: lighten($link-color, 30%);
}
.fridays .power-image {
    position: absolute;
    top: 10px;
    right: 0;

    @media (max-width: $screen-md-min) {
        display: none;
    }
}
.fridays .content {
    height: 100%;
    @include default-padding;
}
.fridays .friday-slideshow {
    height: 100%;
    min-height: 800px;
}
.fridays ul {
    list-style: none;
}
