
.fridays {
    position: relative;
    @include default-padding;

    @media (max-device-width: $screen-xs-min) {
        background-attachment: scroll;
    }
}
.no-webp .fridays {
    @include gradient-image('../images/fridays-1.jpg', right, fixed, $fridays-gradient-start, $fridays-gradient-end);
}
.webp .fridays {
    @include gradient-image('../images/fridays-1.webp', right, fixed, $fridays-gradient-start, $fridays-gradient-end);
}
.fridays h4 {
    color: #fff;
}
.fridays a:hover {
    color: lighten($link-color, 30%);
}
.fridays .embed {
    border-radius: 20px;
    height: 450px;
    margin: 25px 0;
    overflow: hidden;
    transform: translateZ(0);
    width: 90%;

    .map-frame {
        height: 100%;
        width: 100%;
    }
}
.fridays .power-image {
    position: absolute;
    bottom: -150px;
    right: 0;
    z-index: 1;

    @media (max-width: $screen-md-min) {
        display: none;
    }
}
.fridays .content {
    height: 100%;
    @include default-padding;
    padding: 40px;

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}
.fridays .friday-slideshow {
    height: 100%;
    min-height: 800px;
}
.fridays ul {
    list-style: none;
}
