---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
    	<div class="post-header-overlay"></div>
    	<div class="post-header-content">
	        <h1 class="post-title" itemprop="name headline">Privacy Notice</h1>
        </div>
    </header>

    <div class="post-content container" itemprop="articleBody">
        {{ content }}

        <p class="post-back">
            <a href="/"><span class="fa fa-arrow-left"></span> Back to CPSalsa.com</a>
        </p>
    </div>

</article>
